<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
    <h1> this is about page </h1>
    <hr/>
    <!-- using fragment-->
     <div class="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{:: #not_logged_in})}">

     
        <section>
            <h1>User is Logged in </h1>
            <h2>Dynamic Content</h2>
            <p>
                 p Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Assumenda repellendus 
                illum dicta ratione placeat debitis perferendis,
                 non quibusdam perspiciatis, nemo accusamus voluptas
                 aut cum quo libero id enim iste porro.
            </p>
            <button>Click on Dynamic content</button>
        </section>

        <section id="not_logged_in">
            <h1>User is not logged in</h1>
        </section>
     </div>

</body>
</html>

